
html{
  background-color: #348f6c;
  overflow-x: hidden;
  overflow-y: hidden;
}
.all-of-content{
  display: flex;
}
.body{
  background-color: #348f6c;
  padding: 8px;
}
.content{
  background-color: #ffffff;
  border-radius: 20px;
  padding: 1.5% 3%;
}
.content-parts{
  display: flex;
  order: -1;
  padding-left: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  margin-left: .5%;
}
.acc-pic-mail-notf{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.5%;
}
.img-notif{
  order: -1;
  height: 80%;
}
.content-part-chaild{
  margin-right: 6%;
  color: gray;
  padding-bottom: 7%;
}
.content-part-chaild > a{
  color: gray;
}

.content-parts{
  display: flex;
  align-items: center;
}
.resources > p{
  color: gray;
  margin-bottom: 0;
  font-size: 14px;
}
.bottom-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.add-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: green;
}
.add-button > a{
  color: #ebebeb;
}
.carousel-rtl{
  margin-top: 1.5%;
}
.relativ-div-rtl{
  position: relative;
  width: 100%;
  height: 18vh;
  background-color: #fdfaf3;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  margin-right: 24px;
}
.absolute-div-rtl1{
  color: gray;
  position: absolute;
  left: 13px;
  top: 13px;
}
.absolute-div-rtl2{
  position: absolute;
  left: 27%;
  top: 11%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 0px 8px;
  box-shadow: 7px 7px 5px #ebebeb;
}
.absolute-div-rtl3{
  position: absolute;
  right: 10px;
  top: 10px;
}
.singleslide{
  margin-left: 8%;
}
.slack-p{
  margin-left: 31%;
}
.dropbax-p{
  margin-left: 20%;
}
.creativecloud-img{
  margin-left: 5%;
}
.intercom-p{
  margin-left: 17%;
}
.tables{
  margin-top: 1%;
}
.enviroments-h2{
  font-size: 24px;
}
.access-h2{
  font-size: 24px;
}
.gray-color{
  color: gray;
}
.table-styles{
  padding: 20px;
  border-radius: 25px;
  height: auto;
  height: 70%;

}
.ttb-scroll {
  overflow: auto;
  scrollbar-width: none;
    -ms-overflow-style: none;
}

.ttb-scroll ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.ttb-scroll{
  overflow-y: scroll;
  height: 54vh;
}
.table-shadow{
  box-shadow: 7px 7px 7px 5px #ebebeb;
}
.audit-h2-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 2%;
  height: 40%;
}
.audit-h2{
  font-size: 20px;
  width: 50%;
  height: 70%;

}
.circle {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px solid red;
   border-left: 3px solid pink;
   border-radius: 50%;
   width: 195px;
   height: 195px;
   margin-left: 20%;
   margin-top: 10%;
}
.percent-p{
  font-size: 36px;
  margin-bottom: 0;

}
.percent-div{
  position: relative;
  margin-left: 10%;
  padding-bottom: 8px;
  border-bottom: 1px solid pink;
  margin-top: 3%;
}
.absolute-percent{
  position: absolute;
  width: 38%;
  height: 100%;
  border-bottom: 2px solid red;
}
.absolute-percent2{
  position: absolute;
  width: 15%;
  height: 100%;
  border-bottom: 2px solid blue;
}
.percent-div > p{
  margin-bottom: 0;
}
.span-style1{
  padding: 4px;
  border-radius: 10px;
  background-color: lightblue;
}
.span-style2{
  padding: 4px;
  border-radius: 10px;
  background-color: pink;
}
.chart{
  margin-top: 3vh;
  padding:0;
  border-radius: 25px;
}
.chart-span{
  width: 10%;
}
.relativ-div-chart{
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 5vh;
  margin: 0 2.5% 0 2.5%;
  border-bottom: 1px solid #dee2e6;

}
.margin-chart{
  padding: 0 5% ;
}
.relativ-div-chart0{
  position: relative;
  width: 100%;
  height: 5vh;
  margin: 0 2.5% 0 2.5%;
  border-bottom: 1px solid #dee2e6;
}
.request-static-div{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
  padding-bottom: 1vh;
}
.request-static-div > span{
  background-color: #43a37e;
  border-radius: 5px;
  color: lightblue;
  font-size: 14px;
  padding: 1px 4px;
}
.audit-h2-div > span{
  background-color: #43a37e;
  border-radius: 5px;
  color: lightblue;
  font-size: 14px;
  padding: 1px 4px;
}
.chart-span{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.request-static-div > h2{
  font-size: 24px;
}
.access-requests{
  padding: 16px;
  border-radius: 25px;
}
.chart-line-10{
  position: relative;
  position: absolute;
  width: 5%;
  height: 320%;
  overflow: visible;
  background-color: #e78e3a;
  border-radius: 10px;
  right: 9%;
  bottom: .5%;
}
.chart-line-09{
  position: relative;
  position: absolute;
  width: 5%;
  height: 230%;
  overflow: visible;
  background-color: #e78e3a;
  border-radius: 10px;
  right: 20%;
  bottom: .5%;
}
.chart-line-08{
  position: relative;
  position: absolute;
  width: 5%;
  height: 200%;
  overflow: visible;
  background-color: #e78e3a;
  border-radius: 10px;
  right: 31%;
  bottom: .5%;
}
.chart-line-07{
  position: relative;
  background-color: #c56811;
  position: absolute;
  width: 5%;
  height: 350%;
  overflow: visible;
  border-radius: 10px;
  right: 42%;
  bottom: .5%;
}
.chart-line-06{
  position: relative;
  position: absolute;
  width: 5%;
  height: 232%;
  overflow: visible;
  background-color: #e78e3a;
  border-radius: 10px;
  right: 53%;
  bottom: .5%;
}
.chart-line-05{
  position: relative;
  position: absolute;
  width: 5%;
  height: 155%;
  overflow: visible;
  background-color: #348f6c;
  border-radius: 10px;
  right: 64%;
  bottom: .5%;
}
.chart-line-04{
  position: relative;
  position: absolute;
  width: 5%;
  height: 305%;
  overflow: visible;
  background-color: #e78e3a;
  border-radius: 10px;
  right: 76%;
  bottom: .5%;
}
.chart-line-03{
  position: relative;
  position: absolute;
  width: 5%;
  height: 190%;
  overflow: visible;
  background-color: #e78e3a;
  border-radius: 10px;
  right: 87%;
  bottom: .5%;
}
.chart-line-value{
  position: relative;
  position: absolute;
  top: -25px;
  left: 15%;
}
.navbar{
  padding: 0 0 0 16px;
  height: 70%;

}
.h1-img{
  padding-bottom: 10px;
}
.h1-div{
  margin: 0;
  color: #ffffff;
  padding: 0;
  padding-bottom: 10px;
}
.h1-parrent-div{
    border-bottom: 1px solid #ebebeb;
    margin: 12px 16px 40px 0;

}
.notif-img-user{
  margin-right: 10px;
}
.img-notif{
  margin-right: 10px;
}
.h1-div > h1{
  font-size: 22px;
  font-weight: 100;
  padding: 5% 0;
  margin: 0;
}
.nav-link{
  padding: 0;
  color: #ebebeb;
}
.nav-link:hover{
  color: black;
}
.add-env{
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  background-color: #ddf9a7;
  border-radius: 10px;
}
.content-part-chaild > a:hover{
  text-decoration: none;
}
.h1-span{
  font-size: 28px;
  font-weight: 900;
}
.top-nav-parrent{
  width: 100%;
  padding: 0;

}
.start-button{
  display: flex;
  justify-content: center;
  padding: 2px 4px;
  margin: 7px 0 0 16px;
  background-color: #ddf9a7;
  border-radius: 10px;
  width: 60%;

}
.align-right{
  text-align: right;
}
.start-button-link{
  color: green;

}
.start-button-link:hover{
  color: black;
}
.nav-parrent{
  padding: 1% 0;
}
.nav-parrent{
  background-color: #348f6c;
}
.bg-nav{
  background-color: white;
}
.active-nav{
  background-color: white;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    color: black;
    margin: 0;
}
.nav-4{
  border-top-right-radius: 40px;
  margin: 0;
}
.center-nav{
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  margin-right: 24px;
  margin-bottom: 20px;
}
.active-nav > a{
  color: black;

}
.nav-2{
  border-bottom-right-radius: 40px;
  margin: 0;
}
.bottom-nav-2{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
  align-self: center;
  margin-top: 15%;
}
.contact-h4{
  margin: 0;
  padding: 0 6px;
  margin-top: 10px;
}
.contact-img{
  margin-left: 15%;
  display: flex;
  justify-content: center;

}
.contact-p > p{
  margin: 0;
}
.contact{
  border: 1PX solid lightblue;
  border-radius: 10px;


}
